<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>
    <div id="map">
    </div>
  </body>
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyCIBjTglIG-iB-090vB2UYJggj1KXFEeZU",
      authDomain: "javaworks-21aa3.firebaseapp.com",
      databaseURL: "https://javaworks-21aa3.firebaseio.com",
      storageBucket: "javaworks-21aa3.appspot.com",
      messagingSenderId: "366958075790"};
    firebase.initializeApp(config);
  </script>
  <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdOqI9nFp8DW8QY_j_4IMyfCJAwfI2wQ&callback=initMap">
  </script> -->
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
