* {
  box-sizing: border-box;
}

.address {
  display: inline-block;
  font-size: x-large;
  margin: 1% 1% 0;
}

.address1 {
  display: inline-block;
  margin: 0% 1%;
  width: 49%;
}

.addresses {
  margin: 2% 2%;
}

body{
  background-color: rgb(108,168,169);
  color: rgb(255,255,255);
  font-family: fantasy, monospace;
}

.background_pic {
  /*background: Thought I needed the tint but just edited the picture itself instead
    linear-gradient(
      rgba(15,15,15,.4),
      rgba(255, 0, 0, 0.5);*/
  height: 500px;
  width: 100%;
}

.map_container {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 400px;
    top: 0;
    float:right;
    position: relative;
}

.map {
  position: fixed;
  width: 100%;
  height: 100%;
}

.business_name {
  color: rgb(159,49,49);
  font-family: fantasy;
  font-size: 42px;
  margin: 1% 0;
  text-align: center;
  text-decoration: underline;
}

.copyright {
  color: rgb(255,255,255);
}

.criteria {
  display:list-item;
}

.dropdown {
  display: inline-block;
  margin: 4% 4%;
  position: relative;

}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.footer {
  background-color: rgb(15,15,15);
  /*display: inline-block;*/
  height: 200px;
  margin: -2px;
  position: absolute;
  width: 99%;
}

.form {
  margin: 18% 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/*Took this out the css because I didn't need it anymore*/
/*.hours {
  display: inline-block;
  font-size: xx-large;
  list-style: none;
  margin-top: 0;
  padding-left: 0.5em;
}*/

.image_photo {
  height: 100px;
  width: 100px;
}

.links {
  color: rgb(255,255,255);
}

.location {
  display: inline-block;
  font-size: x-large;
  margin: 0 1em 0 0;
}

.logo {
  margin: 0;
  width: 17%;
}

.nav__currentUser {
  color: rgb(245, 245, 245);
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  right: 9rem;
}

.nav__currentUserImage {
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 6.5rem;
  width: 2rem;
}

.nav__signIn, .nav__signOut {
    background-color: rgb(231, 76, 60);
    border-radius: 0.4rem;
    color: rgb(245, 245, 245);
    display: inline-block;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: color 0.6s; background-color: 0.6s;
}

.nav__signIn:hover, .nav__signOut:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(231, 76, 60);
    cursor: pointer;
    transition: color 0.6s; background-color 0.6s;
}

.nav__signOut--hide {
  display: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.phoneNumber {
  margin: 0 1%;
}

.phoneNumber1 {
  display: inline-block;
  font-size: x-large;
  margin: 0 1%;
}

.photo {
  border-radius: 24px 0 24px;
  float: right;
  height: 200px;
  width: 200px;
}

.photo_container {
  padding: 0 28%;
}

.price {
  margin: 1% 1%;
}

.pricePoint {
  display: inline-block;
  margin: 0% 1% 1% 2%;
  width: 10%;
}

.rating {
  display: block;
  font-size: x-large;
  margin: 1%;
  width: 50%;
}

.result_page {
  background-color: rgb(222,185,134);
  border-radius: 24px;
  display: inline-block;
  height: 50%;
  margin-top: 10px;
  width: 100%
}

.results {
  background-color: rgb(222,185,134);
  border-radius: 24px;
  display: inline-block;
  height: 50%;
  margin-top: 10px;
  width: 100%
}

.results__container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.results__title {
  color: rgb(173,49,51);
  display: inline-block;
  font-family: fantasy;
  font-size: -webkit-xxx-large;
  margin: 1% 1%;
  text-decoration: underline;
}

.search__bar {
  display: inline-block;
  font-size: 30px;
  height: 50px;
  width: 25%;
}

.search__button {
  background-color: rgb(232,88,74);
  border-radius: 4px;
  color: rgb(255,255,255);
  font-size: x-large;
  height: 44px;
  -webkit-appearance: none;
  width: 90px;
}

.section {
  display: inline-block;
  width: 100%;
}

.see-through {
  /*background: rgba(15,15,15,.4);*/
  color: rgb(255,255,255);
  display: inline-block;
  font-family: fantasy;
  font-size: 50px;
  padding: 8%;
  position: absolute;
  margin: 0;
  text-align: center;
  width: 99%;
}

.select__options {
  border-radius: 0px;
  color: rgb(178,178,178);
  font-size: xx-large;
  height: 51px;
  width: 300px;
}

.yelp_photos {
  height: 100px;
  width: 100px;
}

.yelp_photos1 {
  height: 300px;
  width: auto;
}

.line-1{
  position: absolute;
  top: 50%;
  width: 24em;
  margin: -6% 21%;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 2.8em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 16.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
