* {
  box-sizing: border-box;
}

.address {
  margin: 1%;
}

body {
  background-color: rgb(108,168,169);
}

.background_pic {
  height: 100%;
  width: 100%;
}

.copyright {
  color: rgb(255,255,255);
}

.criteria {
  display:list-item;
}

.footer {
  background-color: rgb(15,15,15);
  /*display: inline-block;*/
  height: 200px;
  margin: -2px;
  position: absolute;
  width: 99%;
}

.hours {
  display: inline-block;
  font-size: xx-large;
  list-style: none;
}

.links {
  color: rgb(255,255,255);
}

.logo {
  margin: 0;
  width: 17%;
}

.nav__currentUser {
  color: rgb(245, 245, 245);
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  right: 9rem;
}

.nav__currentUserImage {
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 6.5rem;
  width: 2rem;
}

.nav__signIn, .nav__signOut {
    background-color: rgb(231, 76, 60);
    border-radius: 0.4rem;
    color: rgb(245, 245, 245);
    display: inline-block;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: color 0.6s; background-color: 0.6s;
}

.nav__signIn:hover, .nav__signOut:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(231, 76, 60);
    cursor: pointer;
    transition: color 0.6s; background-color 0.6s;
}

.nav__signOut--hide {
  display: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.photo {
  border-radius: 24px 0 24px;
  float: right;
  height: 200px;
  width: 200px;
}

.results {
  background-color: rgb(255,255,255);
  border-radius: 24px;
  display: inline-block;
  height: 50%;
  margin-top: 10px;
  width: 100%
}

.results__container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.results__title {
  color: rgb(173,49,51);
  display: inline-block;
  font-family: fantasy;
  font-size: -webkit-xxx-large;
  margin: 1% 1%;
  text-decoration: underline;
}

.search__bar {
  display: inline-block;
  font-size: 30px;
  height: 50px;
  width: 25%;
}

.search__button {
  background-color: rgb(232,88,74);
  border-radius: 4px;
  color: rgb(255,255,255);
  font-size: x-large;
  height: 44px;
  -webkit-appearance: none;
  width: 90px;
}

.section {
  display: inline-block;
  width: 100%;
}

.see-through {
  background: rgba(15,15,15,.4);
  color: rgb(255,255,255);
  display: inline-block;
  font-family: fantasy;
  font-size: 50px;
  height: 100%;
  padding: 8%;
  position: absolute;
  margin: 0;
  text-align: center;
  width: 99%;
}

.select__options {
  border-radius: 0px;
  color: rgb(178,178,178);
  font-size: xx-large;
  height: 51px;
  width: 300px;
}
